<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="URL" value="https://anupdamoda.github.io/AceOnlineShoePortal/"/>
    <add key="Salutation" value="Mr."/>
    <add key="FirstName" value="Clark"/>
    <add key="LastName" value="Smith"/>
    <add key="InvalidEmailAddress" value="S"/>
    <add key="ValidEmailAddress" value="PeterSmith@gmail.com"/>
    <add key="Username" value="Peter"/>
    <add key="Password" value="Password"/>
    <add key="ShoeType" value=" Prestige Barlett Borgue"/>
    <add key="ShoeColour" value="Brown"/>
    <add key="ShoeSize" value="9"/>
  </appSettings>
</configuration>